{% extends 'blog/base.html' %}
{% load static %}


{% block title %}
Кабинет пользователя
{% endblock %}


{% block content %}
<h1>Кабинет пользователя</h1>
<div class="d-flex text-muted pt-3 profile_style">
    <img class="bd-placeholder-img flex-shrink-0 me-2 rounded" width="80" height="80" src="{{ user.profile.img.url }} ">

    <p class="pb-3 mb-0 small lh-sm border-bottom">
        <strong class="d-block text-gray-dark ml-2">{{user.username}}</strong>
        {% if user.email %}
        <b class="ml-2">Email: </b>{{user.email}}
        {% endif %}
    </p>
</div>
<form method="post" enctype="multipart/form-data" class="form-register mt-4">
    {% csrf_token %}
    {{updateUserForm.as_p}}
    {{profileForm.as_p}}
    <button class="btn btn-outline-warning" type="submit">Обновить</button>
</form>
{% endblock %}